.tab-items {
  margin: 10px;
  font-family: 'roboto';
}

.button {
  border: none;
  outline: none;
  padding: 5px;
  cursor: pointer;
  background-color: transparent;
  color: white;
}

.tab-color-button {
  color: #fec653;
  text-decoration: underline;
}
